<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% if title and page_name %}
            {{ title }} - {{ page_name }}
        {% elif title %}
            {{ title }}
        {% else %}
            Welcome to Smart Vision Hat!
        {% endif %}
    </title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>


<body>
    {% include 'components/navigation_bar.html' %}

    <!-- Content -->
    {% block content %}
    {% endblock %}

    <footer class="mt-5">
        {% include 'components/footer.html' %}
    </footer>

    <!-- JS Scripts -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
