<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{{title}}</title>

	<link
		rel="icon"
		type="image/x-icon"
		href="{{ url_for('static', filename='assets/logo.ico') }}"
	/>

	<link
		rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	/>
	<link
		rel="stylesheet"
		href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
		crossorigin="anonymous"
	/>
	<link
		rel="stylesheet"
		href="{{ url_for('static', filename='css/style.css') }}"
	/>
	<script
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"
	></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"
	></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"
	></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script
		src="https://cdn.tiny.cloud/1/086yn7e2uyhq0pfw4o2mzt6a4erksfhmjiw4rb3iih58owsi/tinymce/5/tinymce.min.js"
		referrerpolicy="origin"
	></script>

	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css"
	/>
	<link rel="stylesheet" href="static/css/map.css" />
	<script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-base.min.js"></script>
	<script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-map.min.js"></script>
	<script src="https://cdn.anychart.com/geodata/latest/custom/world/world.js"></script>

	<script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-data-adapter.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js"></script>

	<script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-exports.min.js"></script>
	<script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-ui.min.js"></script>

	<script src="https://cdn.anychart.com/releases/8.9.0/themes/light_earth.min.js"></script>

	<link
		rel="stylesheet"
		type="text/css"
		href="https://cdn.anychart.com/releases/8.9.0/css/anychart-ui.min.css"
	/>
	<link
		rel="stylesheet"
		type="text/css"
		href="https://cdn.anychart.com/releases/8.9.0/fonts/css/anychart-font.min.css"
	/>

	<link rel="stylesheet" type="text/css" href="static/css/track_map.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.3.4/leaflet-routing-machine.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
</head>
