/* General Styles */
body, html {
    font-family: Arial, sans-serif;
    height: 100%;  /* Full height */
}

.container {
    width: 80%;
    margin: auto;
}

/* Form Styles */
form {
    margin: 0 auto;
    width: 200px;
}

label {
    display: block;
    margin-top: 20px;
}

input[type="text"],
input[type="password"],
textarea {
    margin-top: 5px;
}

input[type="submit"],
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Textarea Style */
textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

/* Footer Styles */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Content Styles */
.content {
    min-height: calc(100% - 3.5rem);  /* Push footer down */
}
