/* Custom styles can go here. Bootstrap will handle most of the styling. */
/* #camera_display, #audio_feedback {
    height: 300px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 300px;
} */

body {
    font-family: Arial, sans-serif;
}

form {
    margin: 0 auto;
    width: 200px;
}

label {
    display: block;
    margin-top: 20px;
}

input[type="text"], input[type="password"] {
    margin-top: 5px;
}

input[type="submit"] {
    margin-top: 20px;
}