/* General Styles */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Navbar fixed at the top */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;  /* Make sure it's above other elements */
}

/* Add padding to the top of the wrapper to prevent navbar from overlapping */
#page-wrapper {
    padding-top: 80px;  /* Adjust this value based on your navbar's height */
}


/* Make the body a flex container */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Full viewport height */
}

/* Form Styles */
form {
    margin: 0 auto;
    width: 200px;
}

label {
    display: block;
    margin-top: 20px;
}

input[type="text"],
input[type="password"],
textarea {
    margin-top: 5px;
}

input[type="submit"],
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Textarea Style */
textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

/* Footer fixed at the bottom */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1030;  /* Make sure it's above other elements */
}

/* Container and Content Styles */
.container {
    width: 80%;
    margin: auto;
}

/* .content {
    flex: 1;  /* Make content grow to fill available space */
} */

/* Adjust main content to not overlap with fixed navbar and footer */
.content {
    margin-top: 60px;  /* Adjust according to your navbar's height */
    margin-bottom: 60px;  /* Adjust according to your footer's height */
    flex: 1;  /* Make content grow to fill available space */
}


.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
canvas {
max-width: 800px;
max-height: 400px;
}

.ask-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ask-title {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.ask-input-group {
    margin-bottom: 30px;
}

.ask-textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ask-answer-section {
    margin-top: 20px;
}

.ask-answer-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.ask-answer-text {
    font-size: 1em;
}

/* Button Styles */
.button-group {
    margin-top: 20px;
}

.action-button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

