.search-container {
	width: 100%;
}

.send-btn {
	display: flex;
	align-items: flex-end; /* Align the button to the bottom */
}

.send-btn-allowed svg {
	color: rgba(37, 196, 129, 1) !important;
	/* color: rgba(0, 0, 255, 1); */
}

.send-btn svg {
	height: 20px;
	color: rgba(37, 196, 129, 0.5);
	/* color: rgba(0, 0, 255, 0.5); */

	filter: invert();
	cursor: pointer;
}

/* Style the textarea container */
.textarea-container {
	position: absolute;
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: row;
	bottom: 0;
	width: 80%;
	margin: auto auto 40px 10%;
}

/* Style the textarea */
.textarea-container textarea {
	width: 100%;
	padding: 10px;
	/* border: 2px solid #ccc; */
	border: none;
	border-radius: 16px;
	font-size: 16px;
	/* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
	border: solid 1px rgba(149, 157, 165, 0.2);

	resize: none; /* Disable manual resizing */
	overflow: auto; /* Add scrollbar when needed */
}

.textarea-container textarea:focus {
	outline: none;
	/* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

/* Style the textarea label */
.textarea-label {
	position: absolute;
	top: 10px;
	left: 10px;
	pointer-events: none; /* Prevent label from interfering with textarea */
	transition: 0.2s ease-out;
	color: #777; /* Placeholder text color */
}

/* Style the label when the textarea is focused or has content */
.textarea-container textarea:focus + .textarea-label,
.textarea-container textarea:not(:placeholder-shown) + .textarea-label {
	transform: translate(0, -25px);
	font-size: 12px;
	color: #007bff; /* Highlight color */
}

/* Style the textarea when it's focused */
.textarea-container textarea:focus {
	border-color: #007bff; /* Highlight border color on focus */
}

.textarea-answer-container {
	padding: 10px;
	position: fixed;
	background-color: white;
	width: calc(80% - 28px);
	margin: 20px auto 0px 10%;
	max-height: 65%;
	/* border: 2px solid #ccc; */
	border: none;
	border-radius: 16px;
	font-size: 16px;
	/* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
	border: solid 1px rgba(149, 157, 165, 0.2);
	resize: none; /* Disable manual resizing */
	overflow: auto; /* Add scrollbar when needed */
	display: none;
}

.waves {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.loader-container {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
	width: 100vw;
	left: 0;
	pointer-events: none;
}

.loader {
	z-index: 100;
	border: 16px solid #f3f3f3;
	border-top: 16px solid rgb(100, 176, 169);
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 2s linear infinite;
	display: none;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
