.logo {
	height: 40px;
}

.home {
	width: 60%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Import Rubik Distressed - Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Rubik+Distressed&display=swap');

/* TODO : to adapt to other browsers */

:root {
	--clr-color: rgb(100, 176, 169);
}

.drop-container {
	display: flex;
}

.drop {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	font-size: 1.5em;
	color: var(--clr-color);
	text-shadow: -2px -2px 5px #fff;
	filter: drop-shadow(4px 4px 10px #fff);
	box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05),
		15px 25px 10px rgba(0, 0, 0, 0.05), 15px 20px 20px rgba(0, 0, 0, 0.07),
		inset -10px -10px 15px rgba(255, 255, 255, 0.9);
}

.drop::before {
	content: '';
	position: absolute;
	top: 35px;
	left: 25px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 50%;
	filter: blur(2px);
}

.drop::after {
	content: '';
	position: absolute;
	top: 25px;
	left: 50px;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 50%;
	filter: blur(2px);
}

body {
	height: 100vh;
	background: linear-gradient(to right, #25c481, #25b7c4);
	font-family: 'Lato', sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

li {
	float: left;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition-duration: 0.2s;
}

li a:hover {
	background: rgba(0, 0, 0, 1);
	text-decoration: none;
	color: white;
}

.logo {
	height: 20px;
	pointer-events: none;
}

.logo-anchor:hover {
	background-color: white;
}
