{% extends "components/layout.html" %} {% block content %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" /> -->
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/analyse.css') }}"
/>
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/search.css') }}"
/>
<script
	src="{{url_for('static', filename='js/data-collation.js')}}"
	defer
></script>
<script>
	$(window)
		.on('load resize ', function () {
			var scrollWidth =
				$('.tbl-content').width() - $('.tbl-content table').width();
			$('.tbl-header').css({ 'padding-right': scrollWidth });
		})
		.resize();
</script>

<div class="loader-container">
	<div class="loader"></div>
</div>
<section>
	<h1>Vessels Used by Competitors</h1>
	<div class="tbl-header">
		<table cellpadding="0" cellspacing="0" border="0">
			<thead>
				<tr>
					<th>Id</th>
					<th>
						<label for="company-filter">Company Name:</label>
						<select id="company-filter"></select>
					</th>
					<th>Vessel</th>
					<th>Product Type</th>
					<th>Volume</th>
					<th>FOB price per unit (AUD)</th>
					<th>Date</th>
					<th>Port</th>
				</tr>
			</thead>
		</table>
	</div>
	<div class="tbl-content">
		<table cellpadding="0" cellspacing="0" border="0">
			<tbody id="collated-data"></tbody>
		</table>
	</div>

	<div class="msg-container">
		<div class="textarea-container">
			<textarea
				id="inputTextarea"
				rows="3"
				placeholder="Ask me anything..."
			></textarea>
			<div class="send-btn" id="sendButton">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 16 16"
					fill="none"
					class="h-4 w-4 m-1 md:m-0"
					stroke-width="2"
				>
					<path
						d="M.5 1.163A1 1 0 0 1 1.97.28l12.868 6.837a1 1 0 0 1 0 1.766L1.969 15.72A1 1 0 0 1 .5 14.836V10.33a1 1 0 0 1 .816-.983L8.5 8 1.316 6.653A1 1 0 0 1 .5 5.67V1.163Z"
						fill="currentColor"
					></path>
				</svg>
			</div>
		</div>
	</div>
</section>

<!--Waves Container-->
<!-- <div>
	<svg
		class="waves"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		viewBox="0 24 150 28"
		preserveAspectRatio="none"
		shape-rendering="auto"
	>
		<defs>
			<path
				id="gentle-wave"
				d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
			/>
		</defs>
		<g class="parallax">
			<use
				xlink:href="#gentle-wave"
				x="48"
				y="0"
				fill="rgba(255,255,255,0.7"
			/>
			<use
				xlink:href="#gentle-wave"
				x="48"
				y="3"
				fill="rgba(255,255,255,0.5)"
			/>
			<use
				xlink:href="#gentle-wave"
				x="48"
				y="5"
				fill="rgba(255,255,255,0.3)"
			/>
			<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
		</g>
	</svg>
</div> -->

{% endblock %}
